* {
  font-family: 'Raleway', sans-serif;
  /* border: 1px solid red; */
  line-height: 1.5;
}

html {
  behavior: smooth;
}

body {
  margin: 0;
  overflow-x: scroll;
}

p {
  padding-right: 15px;
  padding-left: 15px;
}

.readMore {
  padding-bottom: 15px;
}

.internalHr {
  width: 90%;
  color: white;
  margin: 20px;
}

/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: 8vh;
}

.navMenu {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* margin: 0; */
  padding: 0;
}

.navMenu li {
  /* font-family: 'Noto Serif', serif; */
  display: inline;
  font-size: 2vh;
}

.navMenu li a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.navMenu li:first-child {
  font-weight: 1000;
}

a:hover {
  background-color: red;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}



/* SECTION ONE */

.sectionOne img {
  object-fit: cover;
  height: 50vh;
  width: 100vw;
}

.secOneContent {
  background-color: white;
  text-align: center;
  margin: 20px;
}

.secOneContent h1 {
  margin-bottom: 0;
}

.secOneContent h3 {
  font-style: italic;
  margin-top: 0;  
}

/* SECTION TWO */

.sectionTwo {
  margin: 20px;
}

.sectionTwo h2 {
  text-align: center;
  margin-bottom: 0;
}

.sectionTwo h4 {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

.sectionTwo a {
  font-size: 0.8em;
  text-align: center;
  color: red;
}

.secTwoContOne {
  margin: 10px;
  background-color: rgb(246, 247, 249);
}

.secTwoContOne img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.secTwoContOne p {
  margin-bottom: 0;
}

.secTwoContTwo {
  margin: 10px;
  background-color: rgb(246, 247, 249);
}

.secTwoContTwo img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.secTwoContTwo p {
  margin-bottom: 0;
}

.secTwoContThree {
  margin: 10px;
  background-color: rgb(246, 247, 249);
}

.secTwoContThree img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.secTwoContFour {
  margin: 10px;
  background-color: rgb(246, 247, 249);
}

.secTwoContFour img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.secTwoContFour p {
  margin-bottom: 0;
}

/* SECTION THREE */

.sectionThree {
  padding: 20px;
}

.sectionThree {
  background-color: rgb(246, 247, 249);
}

.sectionThree > h2 {
  text-align: center;
  margin: 20px;
}

.sectionThree div > h2 {
  text-align: center;
  margin-bottom: 0;
}

.sectionThree h4 {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

.sectionThree a {
  font-size: 0.8em;
  text-align: center;
  color: red;
}

.sectionThree > div > div {
  background-color: white;
}

.secThreeContOne {
  margin: 10px;
}

.secThreeContOne img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.secThreeContOne p {
  margin-bottom: 0;
}

.secThreeContTwo {
  margin: 10px;
}

.secThreeContTwo img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.secThreeContTwo p {
  margin-bottom: 0;
}

.secThreeContThree {
  margin: 10px;
}

.secThreeContThree img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.secThreeContThree p {
  margin-bottom: 0;
}

/* FOOTER */

.footerOne {
  background-color: rgb(68, 68, 68);
  padding: 10px;
}

.footOneContOne {
  color: white;
  margin: 20px;
}

.footOneContTwo {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.footOneContTwo ul {
  padding: 0;
}

.footOneContTwo li {
  list-style-type: none;
}

.footOneContTwo a {
  color: white;
  padding-left: 0;
  text-decoration: none;
}

.footOneContThree {
  color: white;
  margin: 20px;
  width: 90%;
}

input {
  width: 100%;
  font-size: 1em;
  padding: 20px;
  box-sizing: border-box;
}

.footOneContThree button {
  width: 100%;
  background-color: red;
  color: white;
  font-size: 0.8em;
  padding: 20px;
  font-weight: bold;
}

.footerTwo {
  display: flex;
  background-color: rgb(34, 31, 31);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footerTwo h2 {
  font-size: 0.8em;
}

.socialMediaCont i {
  padding: 2px;
}


/* MOBILE */
@media screen and (max-width: 414px) {


  .navMenu {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: white;
    margin: 0;
  }

  .navActive {
    transform: translateX(0);
  }

  .navMenu li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .secTwoContThreeHide {
    display: none;
  }
}

/* TABLET */
@media (min-width: 415px) and (max-width: 1024px) {
  .menuButton {
    display: none;
  }

  .internalHr {
    display: none;
  }

  .internalHrWhite {
    display: none;
  }

  .sectionTwo > div{
    display: flex;
  }

    .secTwoContThreeHide {
    display: none;
  }

  .secTwoContFour img {

  }

  .sectionThree > div {
    display: flex;
  }

  .footerOne {
    display: flex;
  }

  .footerOne > div {
    margin: 10px;
  }

  .footOneContOne {
    width: 40%
  }

  .footOneContTwo > ul > li {
    line-height: 3em;
  }

  .footOneContThree {
    width: 40%;
  }
}

/* DESKTOP */
@media (min-width: 1025px) {
  nav {
    height: 8vh;
  }

  hr {
    display: none;
  }

  .menuButton {
    display: none;
  }

  .sectionOne img {
    display: none;
  }

  .sectionOne {
    background-image: url("../assets/image-1.jpg");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }

  .secOneContent {
    margin: auto;
    opacity: 0.9;
    width: 70%
  }

  .sectionTwo > div {
    display: inline-flex;
  
  }

  .secTwoContOne {
    width: 33%;
    /* margin: 5px; */
  }

  .secTwoContTwo {
    width: 33%;
    /* margin: 5px; */
  }

  .secTwoContThree {
    display: none;
  }

  .secTwoContThreeHide {
    width: 33%;
    margin: 10px;
    position: relative;
    background-color: rgb(246, 247, 249);
  }

  .secTwoContThreeHide img {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .secTwoContThreeHide h2 {
    margin-bottom: 30px;
  }

  .secTwoContFour {
    width: 60%;
    margin-top: -25px;
  }

  .sectionThree > div {
    display: flex;
  }

  .footerOne {
    display: flex;
  }

  .footOneContOne {
    width: 30%;
    margin: 10px;
  }

  .footOneContTwo {
    width: 20%;
    margin: 10px;
    padding-top: 15px;
    padding-left: 50px;
  }

  .footOneContTwo > ul > li {
    line-height: 2em;
  }

  .footOneContThree {
    width: 50%;
    margin: 10px;
  }

  .footOneContThree > div {
    display: flex;
  }

  .footOneContThree > div > input {
    width: 70%;
  }

  .footOneContThree > div > button {
    width: 30%;
  }

}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
