* {
  font-family: 'Raleway', sans-serif;
  border: 1px solid red;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

html {
  behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* NAVIGATION
BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.navMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navMenu a {
  padding: 5px;
  text-decoration: none;
  font-size: 2vh;
  color: black;
}

.navMenu li:first-child {
  font-weight: 900;
}

a:hover {
  text-shadow: 2px 2px 5px grey;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transform: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*
SECTION ONE
*/

.sectionOne img {
  object-fit: cover;
  height: 50vh;
  width: 100vw;
}

.secOneContent {
  background-color: white;
  text-align: center;
  margin: 20px;
}

.secOneContent h1 {
  margin-bottom: 0;
}

.secOneContent h3 {
  font-style: italic;
  margin-top: 0;  
}

main hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
SECTION TWO
*/

.sectionTwo {
  margin: 20px;
}

.sectionTwo h2 {
  text-align: center;
  margin-bottom: 0;
}

.sectionTwo h4 {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

.sectionTwo a {
  font-size: 0.8em;
  text-align: center;
  color: red;
  display: block;
  padding-bottom: 30px;
}

.secTwoContOne {
  margin: 10px;
  background-color: rgb(246, 247, 249);
}

.secTwoContOne img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.secTwoContOne p {
  margin-bottom: 0;
  padding: 0 20px;
}

.secTwoContTwo {
  margin: 10px;
  background-color: rgb(246, 247, 249);
}

.secTwoContTwo img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.secTwoContTwo p {
  margin-bottom: 0;
  padding: 0 20px;
}

.secTwoContThree {
  margin: 10px;
  background-color: rgb(246, 247, 249);
}

.secTwoContThree img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.secTwoContThree p {
  margin-bottom: 50px;
  padding: 0 20px;
}

.secTwoContFour {
  margin: 10px;
  background-color: rgb(246, 247, 249);
}

.secTwoContFour img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.secTwoContFour p {
  margin-bottom: 0;
  padding: 0 20px;
}

/*
SECTION THREE
*/

.sectionThree {
  padding: 20px;
}

.sectionThree {
  background-color: rgb(246, 247, 249);
}

.sectionThree > h2 {
  text-align: center;
  margin: 20px;
}

.sectionThree div > h2 {
  text-align: center;
  margin-bottom: 0;
}

.sectionThree h4 {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

.sectionThree a {
  display: block;
  font-size: 0.8em;
  text-align: center;
  color: red;
  padding-bottom: 20px;
}

.sectionThree > div > div {
  background-color: white;
}

.secThreeContOne {
  margin: 10px;
}

.secThreeContOne img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.secThreeContOne p {
  margin-bottom: 0;
  padding: 0 20px;
}

.secThreeContTwo {
  margin: 10px;
}

.secThreeContTwo img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.secThreeContTwo p {
  margin-bottom: 0;
  padding: 0 20px;
}

.secThreeContThree {
  margin: 10px;
}

.secThreeContThree img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.secThreeContThree p {
  margin-bottom: 0;
  padding: 0 20px;
}

/*
FOOTER
*/

.footerOne {
  background-color: rgb(68, 68, 68);
  padding: 10px;
}

.footOneContOne {
  color: white;
  margin: 20px;
}

.footOneContOne p {
  padding: 10px 0;
}

.internalHr {
  width: 90%;
  color: white;
  margin: 20px;
}

.footOneContTwo {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.footOneContTwo ul {
  padding: 0;
}

.footOneContTwo li {
  list-style-type: none;
}

.footOneContTwo a {
  color: white;
  padding-left: 0;
  text-decoration: none;
}

.footOneContThree {
  color: white;
  margin: 20px;
  width: 90%;
}

.footOneContThree p {
  padding: 10px 0;
}


input {
  width: 100%;
  font-size: 1em;
  padding: 20px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: red;
  color: white;
  font-size: 0.8em;
  padding: 20px;
  font-weight: bold;
}

.footerTwo {
  display: flex;
  background-color: rgb(34, 31, 31);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footerTwo h2 {
  font-size: 0.8em;
}

.socialMediaCont i {
  padding: 2px;
}

/*
MOBILE
*/

@media screen and (max-width: 499px) {
  nav {
    padding-right: 10px;
    padding-left: 10px;
  }

  .navMenu {
    position: fixed;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    background-color: white;
    margin: 0;
    transition: transform 0.5s ease-in;
  }
  
  .navActive {
    transform: translateX(0);
    transition: transform 0.5s ease-in;
  }

  .navMenu li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .secTwoContThreeHide {
    display: none;
  }

  .secThreeContThreeHide {
    display: none;
  }
}

/*
TABLET
*/

@media (min-width: 500px) and (max-width: 853px) {
  nav {
    justify-content: space-around;
  }

  .navMenu {
    position: fixed;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    background-color: white;
    margin: 0;
    transition: transform 0.5s ease-in;
  }

  .navActive {
    transform: translateX(0);
    transition: transform 0.5s ease-in;
  }

  .navMenu li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .internalHr {
    display: none;
  }

  .sectionOne img {
    height: 50%;
  }

  .sectionTwo > div{
    display: flex;
    justify-content: center;
  }

  .sectionTwo a {
    display: block;
    padding-bottom: 30px;
    margin-bottom: 0px;
  }

  .secTwoContOne {
    width: 45%;
  }

  .secTwoContTwo {
    width: 45%;
  }

  .secTwoContThree {
    width: 45%;
  }

  .secTwoContThreeHide {
    display: none;
  }

  .secTwoContFour {
    width: 45%;
  }

  .sectionThree > div {
    display: flex;
    justify-content: center;
  }

  .secThreeContOne {
    width: 45%;
  }

  .secThreeContTwo {
    width: 45%;
  }
  
  .secThreeContThree {
    width: 45%;
  }

  .secThreeContThreeHide {
    display: none;
  }

  .footerOne {
    display: flex;
  }

  .footerOne > div {
    margin: 10px;
  }

  .footOneContOne {
    width: 40%
  }

  .footOneContTwo > ul > li {
    line-height: 3em;
  }

  .footOneContThree {
    width: 40%;
  }

  input {
    padding: 10px;
  }

  button {
    padding: 10px;
  }
}

/*
DESKTOP
*/

@media (min-width: 854px) {
  nav {
    height: 8vh;
    justify-content: space-around;
  }

  hr {
    display: none;
  }

  .innerH2 {
    font-size: 1.2em;
  }

  .sectionOne img {
    display: none;
  }

  .sectionOne {
    background-image: url("../assets/image-1.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }

  .secOneContent {
    margin: auto;
    width: 60%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .secOneContent h1 {
    font-size: 2.2em;
    font-weight: bold;
  }

  .secOneContent h3 {
    font-size: 1.6em;
  }

  .secOneContent p {
    font-size: 1.2em;
    margin-top: 20px;
  }

  .sectionTwo {
    padding: 50px;
  }

  .sectionTwo > h2 {
    margin-bottom: 10px;
  }

  .sectionTwo > div {
    display: inline-flex;
  }

  .secTwoContOne {
    width: 33%;
    background-color: white;
  }

  .secTwoContOne img {
    padding: 0;
  }

  .secTwoContOne h2 {
    padding-top: 20px;
  }

  .secTwoContOne div {
    background-color: rgb(246, 247, 249);
  }

  .secTwoContTwo {
    width: 33%;
    background-color: white;
  }

  .secTwoContTwo img {
    padding: 0;
  }

  .secTwoContTwo h2 {
    padding-top: 20px;
  }

  .secTwoContTwo div {
    background-color: rgb(246, 247, 249);
  }

  .secTwoContThree {
    display: none;
  }

  .secTwoContThreeHide {
    width: 33%;
    margin: 10px;
    background-color: rgb(246, 247, 249);
  }

  .secTwoContThreeHide img {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
  }

  .secTwoContThreeHide h2 {
    margin-bottom: 10px;
  }

  .secTwoContThreeHide p {
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .secTwoContFour {
    width: 60%;
    margin-top: -30px;
  }

  .sectionThree {
    margin: 20px;
    padding: 50px;
  }

  .sectionThree > div {
    display: flex;
  }

  .secThreeContThreeHide {
    margin: 10px;
  }
  
  .secThreeContThreeHide img {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .secThreeContThreeHide p {
    margin-bottom: 0;
    padding: 0 20px;
  }

  .secThreeContThree {
    display: none;
  }

  .footerOne {
    display: flex;
    padding: 30px;
  }

  .footOneContOne {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .footOneContTwo {
    width: 20%;
    margin: 10px;
    padding-top: 15px;
    padding-left: 50px;
  }

  .footOneContTwo > ul > li {
    line-height: 2em;
  }

  .footOneContThree {
    width: 50%;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .footOneContThree div {
    display: flex;
  }

  input {
    width: 65%;
    padding: 10px;
  }

  button {
    width: 30%;
    margin-left: 10px;
    padding: 10px;
  }

  .footerTwo {
    padding-right: 70px;
    padding-left: 60px;
  }

}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
